<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Calculation API </title>
</head>
<body>
<center>
<h1>Python Flask Calculator</h1>
<div>
    <form method="post" action="{{ url_for('calculations') }}" id="calculator_form">
        <label for="number1">Input1:</label>
        <input type="text" name="number1" id="number1">
        <br/>
        <br/>
        <label for="number2">Input2:</label>
        <input type="text" name="number2" id="number2">
        <br/>
        <br/>
        <label for="operation">Operation</label>
        <select id="operation" name="operation">
            <option value="+">Addition</option>
            <option value="/">Division</option>
            <option value="*">Multiplication</option>
        </select>
        <br/>
        <br/>
        <input type="submit" value="Submit"/>
        <!--<input type="reset"  value="RESET" style="color: red;"/>-->
    </form>
    </div>
<div>
    {% if calculation_success == True %}
        <br/>
        <h4>The calculation for {{input1}} {{operation}} {{input2}} is: {{result}}</h4>
    {% endif %}
    {% if calculation_success == False %}
        <br/>
        <h4>{{error}}</h4>
        <h4>{{input1}} {{operation}} {{input2}} = "{{result}}"</h4>
    {% endif %}
</div>
</center>
</body>
</html>

